<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.dreams.mapper.CommunityMapper">

<!-- 게시판 등록 -->
<!-- 
<insert id="enrollCommunity">

	insert into community(COMM_NO, COMM_TITLE, COMM_CONT, MEMBER_ID) 
	values (COMMUNITY_SEQ.NEXTVAL, #{commTitle}, #{commCont}, #{memberId})

</insert>
	 -->
	 
<insert id="enrollCommunity" parameterType="CommunityDTO">
	<selectKey resultType="int" keyProperty="commNo" order="BEFORE">
		select COMMUNITY_SEQ.NEXTVAL from dual
	</selectKey>
	insert into community(COMM_NO, COMM_TITLE, COMM_CONT, MEMBER_ID)
	values(#{commNo}, #{commTitle}, #{commCont}, #{memberId})
</insert>



<!-- 게시판 글 하나 보기 -->
<select id="getPage" resultType="xyz.dreams.dto.CommunityDTO">
	select * 
	from community 
	where COMM_NO=#{commNo}
</select>

<!-- 게시판 글 수정 -->
<update id="modifyCommunity" parameterType="CommunityDTO">
	update community 
	set comm_title=#{commTitle}, comm_cont=#{commCont} 
	where comm_no=#{commNo}
</update>

<!-- 게시판 글 삭제 -->
<delete id="deleteCommunity">
	delete from community 
	where COMM_NO=#{commNo}
</delete>

<!-- 게시글 조회수 증가 -->
<update id="upCountCommunity" parameterType="int">
	update community 
	set comm_hit = comm_hit+1 
	where comm_no=#{commNo}
</update>

<!-- 게시글 목록 보기 + 페이징처리 + 검색 --> 
<select id="selectCommunityList" resultType="CommunityDTO">
	select * 
	from (
		select 
			rownum rn, 
			comm_no, 
			member_id, 
			comm_title, 
			comm_cont, 
			comm_date, 
			comm_hit,
			reply_count 
		from (
			select 
				comm_no, 
				member_id, 
				comm_title, 
				comm_cont, 
				comm_date, 
				comm_hit,
				reply_count 
			from community 
			<if test = "keyword !=null and keyword !=''">
				<bind name="word" value="'%'+keyword+'%'"/>
				where ${column} like #{word}
			</if>
			order by comm_no desc
		) community
	)
	where rn between #{startRow} and #{endRow}
</select>

<!-- 게시글 총 개수(페이징처리) -->
<select id="selectCommunityCount" resultType="int">
	select count(*) 
	from community
	<if test = "keyword !=null and keyword !=''">
		<bind name="word" value="'%'+keyword+'%'"/>
		where ${column} like #{word}
	</if>
</select>

<!-- 김예지(2023.09.14) - 댓글 목록 구현시 필요한 정보를 얻기위해 게시글의 번호가 일치할때 
	memberId를 fk로 community 테이블과 member 테이블을 조인 -->
<select id="selectCommunityByCommNo">
    select * 
	from community a
	join member b
	on a.member_id=b.member_id
	where a.comm_No=#{commNo}
</select>


<!-- 김예지(2023.09.17) 게시글 당 댓글 개수 카운팅 -->
<update id="updateReplyCount">
	update community c
	set c.REPLY_COUNT = (select count(COMM_RE_NO) from community_reply where COMM_NO=#{commNo}) 
	where c.COMM_NO=#{commNo}
</update>

</mapper>