<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="xyz.dreams.mapper.ReviewMapper">

	<!-- 강민경(2023/09/13): setorder테이블에서 상품 정보 받아옴 -->
	<select id="selectGoods" resultType="ReviewDTO">
		select member_id, goods_code from setorder
	</select>
	<!-- 강민경: 리뷰 등록 -->
	<insert id="enrollReview">
		INSERT INTO REVIEW(
			REV_NO,
			MEMBER_ID,
			IMP_UID,
			REV_CONT,
			REV_DATE,
			REV_IMG,
			GOODS_STAR,
			GOODS_CODE
		)VALUES(
			REVIEW_TEST_SEQ.NEXTVAL,
			#{memberId},
			#{impUid},
			#{revCont},
			SYSDATE,
			#{revImg},
			#{goodsStar},			
			#{goodsCode}
		)
	</insert>

	
	<!-- 강민경: 리뷰 글 수정-->
	<update id="modifyReview" parameterType="ReviewDTO">
		update review set REV_CONT=#{revCont} where REV_NO=#{revNo}
	</update>
	
	<!-- 강민경: 리뷰 글 삭제 -->
	<delete id="deleteReview">
		delete from review where REV_NO=#{revNo}
	</delete>
	
	<!-- 강민경: 페이징 처리 -->
	<select id="selectReviewList" resultType="ReviewDTO">
		select * from (
			select rownum as rn, REV_NO, MEMBER_ID, REV_CONT, REV_DATE, GOODS_STAR, REV_IMG from (
				select REV_NO, MEMBER_ID, REV_CONT, REV_DATE, GOODS_STAR, REV_IMG from REVIEW
					order by REV_NO desc
				) REVIEW
			) where rn between #{startRow} and #{endRow}
	</select>
	<!-- 강민경: 게시글 총 개수(페이징처리) -->
	<select id="selectReviewCount" resultType="int">
		<bind name="reviewCount" value="goodsName+'-%'"/>
		select count(*) from review where goods_code like #{reviewCount}
	</select>
	

	<!-- 이소영(추가) : 2023-09-25 MYPAGE Review List 출력 -->
	<select id="selectReviewByMember" resultType="xyz.dreams.dto.ReviewDTO">
		SELECT * FROM REVIEW 
		WHERE MEMBER_ID = #{memberId} 
		ORDER BY Rev_no DESC
    </select>
	
</mapper>
